.select{
    width: 9rem;
    height: 3rem;
    background-color: white;
    border-radius: 4px;
    color: black;
    margin-left: 20px;
}
.select:focus{
    border: 1px #2997f1 solid;
    color:  #2997f1;
}